<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <div class="content-wrapper">
      <div class="header">
        <div class="header__title__1">MAC Mapper</div>
        <div class="header__title__2"><%= pageTitle %></div>
      </div>

      <%- include('../includes/navigation.ejs') %>

      <div class="main">
        <form class="mac-form" action="/signup" method="POST">
          <div class="form-control">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-input"> 
          </div>
          <div class="form-control">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-input"> 
          </div>
          <div class="form-control">
            <label for="password-confirm" class="form-label">Confirm Password</label>
            <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-input"> 
          </div>
          <button class="btn" type="submit">Signup</button>
        </form>
      </div>

      <%- include('../includes/footer.ejs') %>
    </div>
  </body>
</html>
