<div class="navigation">
    <ul class="main-nav__item-list">
        <li class="main-nav__item">
            <a href="/">Home</a>
        </li>
        <li class="main-nav__item">
            <a href="/map">Map</a>
        </li>
        <li class="main-nav__item">
            <a href="/history">History</a>
        </li>
        <li class="main-nav__item">
            <a href="/admin">Admin</a>
        </li>
    </ul>
</div>