<%- include('./includes/head.ejs') %>
  </head>
  <body>
    <div class="content-wrapper">
      <div class="header">
        <div class="header__title">Page Not Found</div>
      </div>

      <%- include('./includes/navigation.ejs') %>

    <div class="main">

    </div>

    <%- include('./includes/footer.ejs') %>
    </div>
  </body>
</html>
