<%- include('./includes/head.ejs') %>
  </head>
  <body>
    <div class="content-wrapper">
      <div class="header">
        <div class="header__title__1">Error</div>
      </div>

      <%- include('./includes/navigation.ejs') %>

    <div class="main">
        <h1 class="header__title__2"><%= errorName %></h1>
    </div>

    <%- include('./includes/footer.ejs') %>
    </div>
  </body>
</html>
