<%- include('./includes/head.ejs') %>
  </head>
  <body>
    <div class="content-wrapper">
      <div class="header">
        <div class="header__title">MAC Mapper</div>
      </div>

      <%- include('./includes/navigation.ejs') %>

    <div class="main">
        <form class="mac-form" action="/googlesearch" method="POST">
            <div class="form-control">
                <label for="mac">MAC Address</label>
                <input type="text" name="mac" id="mac"> 
            </div>

            <button class="btn" type="submit">Submit</button>
        </form>
    </div>

    <%- include('./includes/footer.ejs') %>
    </div>
  </body>
</html>
